* {
    /* #region global variables */
    --size-1-1: calc(var(--size-2-1) / 2);
    --size-16-16: calc(var(--size-4-4) * 16);
    --size-16-8: calc(var(--size-4-4) * 8);
    --accent-plus-60: calc(var(--accent-h) + 60);
    --accent-plus-120: calc(var(--accent-h) + 120);
    --accent-minus-60: calc(var(--accent-h) - 60);
    --accent-minus-120: calc(var(--accent-h) - 120);
    --accent-s-pastel: min(var(--accent-s), 50%);
    /* --accent-s-saturated: max(var(--accent-s), 50%); */
    /* #endregion */
    /* --dropdown-background: var(--interactive-normal);
    --dropdown-background-hover: var(--interactive-hover); */

    /* #region shadows */
    --swatch-shadow: none;
    --tab-stacked-shadow: none;
    --input-shadow: none;
    --input-shadow-hover: none;

    --pdf-shadow: none;
    --pdf-thumbnail-shadow: none;
    /* --embed-block-shadow-hover */
    /* --background-modifier-box-shadow: none; */

    /* #endregion */

    /* #region borders */
    --background-modifier-border: var(--hr-color);
    /* --background-modifier-border-hover:
    --background-modifier-border-focus: */
    --divider-color: var(--hr-color);
    --status-bar-border-color: var(--divider-color);
    --sidebar-left-border-color: var(--divider-color);
    --nav-item-border-color: var(--divider-color);
    /* --nav-item-border-color-hover:  */
    --titlebar-border-color: var(--divider-color);
    --table-border-color: var(--text-muted);
    --table-header-border-color: var(--text-muted);
    --table-add-button-border-color: var(--text-muted);
    /* --table-add-button-color: var(--text-faint); */
    /* --blockquote-border-color */
    /* --file-header-border: */
    /* --slider-thumb-border-color: */
    /* --prompt-border-color: */
    /* --nav-indentiation-guide-color: */
    /* --modal-border-color: */
    /* --indentation-guide-color */
    /* --checkbox-border-color
    --checkbox-border-color-hover */
    /* --input-focus-border-color */
    /* --metadata-border-color: var(--hr-color); */

    /* #endregion */

    /* #region accents */
    --interactive-accent: hsl(var(--accent-plus-60), var(--accent-s-pastel), var(--accent-l-closer));
    --interactive-accent-hover: hsl(calc(var(--accent-plus-60) - 3), calc(var(--accent-s-pastel) * 1.02), calc(var(--accent-l-closer) * 1.15));

    --tag-background: hsla(var(--accent-minus-60), var(--accent-s), var(--accent-l-closer), 0.25);
    --tag-background-hover: hsla(var(--accent-minus-60), var(--accent-s), var(--accent-l-closer), 0.35);

    --checkbox-color: var(--interactive-accent);
    --checkbox-color-hover: var(--interactive-accent-hover);

    --text-selection: hsla(var(--accent-minus-60), var(--accent-s), var(--accent-l-closer), 0.25);
    --text-highlight-bg: hsla(var(--accent-plus-60), var(--accent-s-pastel), var(--accent-l-closer), 0.6);

    --table-selection: hsla(var(--accent-minus-60), var(--accent-s), var(--accent-l-closer), 0.2);
    --table-selection-border-color: hsl(var(--accent-minus-60), var(--accent-s), var(--accent-l-readable));
    /* #endregion */

    /* --background-modifier-hover:  */

    /* #region line height */
    --line-height-normal: 1.75em;
    --line-height-tight: 1.5em;
    /* #endregion */
}

.theme-dark {
    /* #region global variables */
    --accent-l-readable: max(var(--accent-l), 50%);
    --accent-l-closer: min(var(--accent-l), 40%);
    /* #endregion */

    /* #region background */
    --background-primary: hsl(var(--accent-h), 35%, 25%);
    --background-primary-alt: hsl(var(--accent-h), 35%, 27%);
    --background-secondary: hsl(var(--accent-h), 35%, 30%);
    --background-secondary-alt: hsl(var(--accent-h), 35%, 32%);
    /* #endregion */

    /* #region text colors */
    --text-normal: hsl(0, 0%, 85%);
    --text-muted: hsl(var(--accent-h), 15%, 65%);
    --text-faint: hsl(var(--accent-h), 20%, 48%);
    /* --text-on-accent: var(--text-on-accent-inverted); */
    --text-accent: hsl(var(--accent-minus-60), var(--accent-s), var(--accent-l-readable));
    --text-accent-hover: hsl(calc(var(--accent-minus-60) - 5), calc(var(--accent-s) * 1.05), calc(var(--accent-l-readable) * 1.29));
    /* #endregion */

    /* --interactive-normal: hsl(var(--accent-plus-60), 20%, 32%);
    --interactive-hover: hsl(var(--accent-plus-60), 20%, 35%); */
    --hr-color: hsl(var(--accent-h), 25%, 20%);
}

.theme-light {
    /* #region global variables */
    --accent-l-readable: min(var(--accent-l), 35%);
    --accent-l-closer: max(var(--accent-l), 60%);
    /* #endregion */

    /* #region background */
    --background-primary: hsl(var(--accent-h), 35%, 75%);
    --background-primary-alt: hsl(var(--accent-h), 35%, 70%);
    --background-secondary: hsl(var(--accent-h), 35%, 65%);
    --background-secondary-alt: hsl(var(--accent-h), 35%, 60%);
    /* #endregion */

    /* #region text colors */
    --text-normal: hsl(0, 0%, 13%);
    --text-muted: hsl(var(--accent-h), 15%, 33%);
    --text-faint: hsl(var(--accent-h), 20%, 47%);
    /* --text-on-accent: var(--text-on-accent-inverted); */
    --text-accent: hsl(var(--accent-minus-60), var(--accent-s), var(--accent-l-readable));
    --text-accent-hover: hsl(calc(var(--accent-minus-60) - 3), calc(var(--accent-s) * 1.02), calc(var(--accent-l-readable) * 1.15));
    /* #endregion */

    /* --interactive-normal: hsl(var(--accent-plus-60), 20%, 68%);
    --interactive-hover: hsl(var(--accent-plus-60), 20%, 65%); */
    --hr-color: hsl(var(--accent-h), 25%, 90%);
    /* --background-modifier-cover: black; */

}

body {
    --radius-s: var(--size-4-5);
    --radius-m: var(--size-4-5);
    --radius-l: var(--size-4-5);
    --radius-xl: var(--size-4-5);
    --input-radius: var(--size-4-5);
    --tab-radius-active: var(--size-4-5);
    --checkbox-radius: var(--size-4-5);
    --checkbox-size: var(--size-4-5);
    --toggle-radius: var(--size-4-5);
    --toggle-thumb-radius: var(--size-4-5);
    --slider-thumb-radius: var(--size-4-5);
}

input[type=checkbox]:checked:after {
    position: static;
}

.markdown-preview-view .task-list-item-checkbox {
    top: 0.34em;
}

.checkbox-container {
    box-shadow: none;
}

.checkbox-container:after {
    box-shadow: none;
}

/* del {
    text-underline-offset: 20px;
} */

/* #region highlight */
mark,
.search-result-file-matched-text,
.cm-s-obsidian span.cm-highlight {
    border-radius: var(--size-4-5);
    padding: var(--size-1-1) var(--size-2-3);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    /* -break */
}

.cm-s-obsidian span.cm-highlight.cm-formatting,
.cm-s-obsidian span.cm-highlight.cm-formatting+span.cm-highlight:not(.cm-formatting),
.cm-s-obsidian span.cm-highlight:not(.cm-formatting)+span.cm-highlight {
    padding-top: var(--size-1-1);
    padding-bottom: var(--size-1-1);
    border-radius: 0;
}

.cm-s-obsidian span.cm-highlight:not(.cm-formatting)+span.cm-highlight.cm-formatting {
    padding-right: var(--size-2-3);
    padding-left: 0;
    border-top-right-radius: var(--size-4-5);
    border-bottom-right-radius: var(--size-4-5);
}

.cm-s-obsidian span.cm-highlight.cm-formatting:has(+span.cm-highlight:not(.cm-formatting)) {
    padding-left: var(--size-2-3);
    padding-right: 0;
    border-top-left-radius: var(--size-4-5);
    border-bottom-left-radius: var(--size-4-5);
}

.cm-s-obsidian span.cm-highlight:not(.cm-formatting)+span.cm-highlight,
.cm-s-obsidian span.cm-highlight+span.cm-highlight:not(.cm-formatting) {
    padding-left: 0;
    padding-right: 0;
}

/* .cm-s-obsidian span.cm-highlight.cm-formatting+span.cm-highlight:not(.cm-formatting) {
    padding-left: 0;
    padding-right: 0;
} */

/* #endregion */

/* ::selection {
    border-radius: var(--size-4-5);
    padding: 1px var(--size-2-3);
} */

/* #region inline-code */
.markdown-rendered code,
.cm-s-obsidian .cm-inline-code:not(.cm-formatting) {
    padding: var(--size-2-2) var(--size-2-3);
}

.cm-s-obsidian .cm-inline-code.cm-formatting,
.cm-s-obsidian .cm-inline-code.cm-formatting~.cm-inline-code:not(.cm-formatting) {
    padding-top: var(--size-2-2);
    padding-bottom: var(--size-2-2);
}

.cm-s-obsidian .cm-inline-code:not(.cm-formatting)+.cm-inline-code.cm-formatting {
    padding-right: var(--size-2-3);
}

.cm-s-obsidian .cm-inline-code.cm-formatting:has(+.cm-inline-code:not(.cm-formatting)) {
    padding-left: var(--size-2-3);
}

.cm-s-obsidian .cm-inline-code.cm-formatting+.cm-inline-code:not(.cm-formatting) {
    padding-left: 0;
    padding-right: 0;
}

/* .cm-s-obsidian .cm-inline-code.cm-formatting~.cm-inline-code:not(.cm-formatting) {
    padding-top: var(--size-2-2);
    padding-bottom: var(--size-2-2);
} */

/* #endregion */

.workspace-tab-header.is-active::before,
.workspace-tab-header.is-active::after {
    display: none;
}

.workspace-tab-header {
    margin-bottom: var(--size-4-2);
    --tab-width: var(--size-16-8);
    /* padding: var(--size-4-2); */
}

.workspace-tab-header-inner {
    height: 100%;
    /* padding-bottom: var(--size-4-2); */
}

.workspace-tab-header-inner::after {
    /* margin-left: var(--size-4-2) */
    display: none;
}

/* svg * {
    stroke-linecap: round;
    stroke-linejoin: round;
    rx: 5;
    ry: 5;
} */

.menu {
    padding: var(--size-2-1);
}

.menu-item {
    padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
    margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

.callout {
    background-color: rgba(var(--callout-color), 0.125);
}

/* .callout[data-callout="button"] {
    --callout-color: 143, 69, 255;
    --callout-icon: lucide-shell;
}

.callout[data-callout="button"] a {
    font-weight: 500;
    color: rgb(143, 69, 255);
    text-decoration: none;
}


.callout[data-callout="instructions"] {
    --callout-color: 242, 198, 78;
    --callout-icon: lucide-graduation-cap;
} */