* {
    --size-16-16: 256px;
    --size-16-8: 128px;
    --accent-plus-60: calc(var(--accent-h) + 60);
    --accent-plus-120: calc(var(--accent-h) + 120);
    --accent-minus-60: calc(var(--accent-h) - 60);
    --accent-minus-120: calc(var(--accent-h) - 120);
    --text-selection: hsla(var(--accent-minus-60), 50%, 50%, 0.2);
    --text-highlight-bg: hsla(var(--accent-plus-60), 70%, 50%, 0.4);
    /* --dropdown-background: var(--interactive-normal);
    --dropdown-background-hover: var(--interactive-hover); */
    --swatch-shadow: none;
    --tab-stacked-shadow: none;
    /* --line-height-normal:  */
    /* --embed-block-shadow-hover */
    --background-modifier-border: var(--hr-color);
    --divider-color: var(--hr-color);
    --status-bar-border-color: var(--divider-color);
    --titlebar-border-color: var(--divider-color);

    --input-shadow: none;
    --input-shadow-hover: none;

    --pdf-shadow: none;
    --pdf-thumbnail-shadow: none;

    /* --interactive-accent: */
    /* --background-modifier-hover:  */
}

.theme-dark {
    --background-primary: hsl(var(--accent-h), 35%, 25%);
    --background-primary-alt: hsl(var(--accent-h), 35%, 27%);
    --background-secondary: hsl(var(--accent-h), 35%, 30%);
    --background-secondary-alt: hsl(var(--accent-h), 35%, 32%);
    --text-normal: hsl(0, 0%, 85%);
    --text-muted: hsl(var(--accent-h), 15%, 65%);
    --text-faint: hsl(var(--accent-h), 20%, 40%);
    /* --interactive-normal: hsl(var(--accent-plus-60), 20%, 32%);
    --interactive-hover: hsl(var(--accent-plus-60), 20%, 35%); */
    --hr-color: hsl(var(--accent-h), 25%, 20%);
    --text-accent: hsl(var(--accent-minus-60), var(--accent-s), max(var(--accent-l), 40%));
    --text-accent-hover: hsl(calc(var(--accent-minus-60) - 5), calc(var(--accent-s) * 1.05), calc(var(--accent-l) * 1.29));
}

.theme-light {
    --background-primary: hsl(var(--accent-h), 35%, 75%);
    --background-primary-alt: hsl(var(--accent-h), 35%, 70%);
    --background-secondary: hsl(var(--accent-h), 35%, 65%);
    --background-secondary-alt: hsl(var(--accent-h), 35%, 60%);
    --text-normal: hsl(0, 0%, 13%);
    --text-muted: hsl(var(--accent-h), 15%, 40%);
    --text-faint: hsl(var(--accent-h), 20%, 52%);
    /* --interactive-normal: hsl(var(--accent-plus-60), 20%, 68%);
    --interactive-hover: hsl(var(--accent-plus-60), 20%, 65%); */
    --hr-color: hsl(var(--accent-h), 25%, 90%);
    --text-accent: hsl(var(--accent-minus-60), var(--accent-s), var(--accent-l));
    --text-accent-hover: hsl(calc(var(--accent-minus-60) - 3), calc(var(--accent-s) * 1.02), calc(var(--accent-l) * 1.15));

}

body {
    --radius-s: 20px;
    --radius-m: 20px;
    --radius-l: 20px;
    --radius-xl: 20px;
    --input-radius: 20px;
    --tab-radius-active: 20px;
    --checkbox-radius: 20px;
    --toggle-radius: 20px;
    --toggle-thumb-radius: 20px;
    --slider-thumb-radius: 20px;
}

/* .dropdown,
button {
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--hr-color);
} */

/* option.theme-light {
    color: var(--text-on-accent-inverted);
} */

.workspace-tab-header.is-active::before,
.workspace-tab-header.is-active::after {
    display: none;
}

.workspace-tab-header {
    margin-bottom: var(--size-4-2);
    --tab-width: var(--size-16-8);
    /* padding: var(--size-4-2); */
}

.workspace-tab-header-inner {
    height: 100%;
    /* padding-bottom: var(--size-4-2); */
}

.workspace-tab-header-inner::after {
    /* margin-left: var(--size-4-2) */
    display: none;
}

svg * {
    stroke-linecap: square;
    stroke-linejoin: miter;
    rx: 0;
    ry: 0;
}

.menu {
    padding: var(--size-2-1);
}

.menu-item {
    padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
    margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}


.callout[data-callout="button"] {
    --callout-color: 143, 69, 255;
    /* 116, 38, 235; */
    --callout-icon: lucide-shell;
}

.callout[data-callout="button"] a {
    font-weight: 500;
    color: rgb(143, 69, 255);
    text-decoration: none;
}


.callout[data-callout="instructions"] {
    --callout-color: 242, 198, 78;
    --callout-icon: lucide-graduation-cap;
}